<h1>Welcome to Favorite Video Game-Space!</h1>
</br>
<h1>Share/recommend your favorite video games for the world to see and learn! Join us on the nerdiest (yet most fun) social media site!</h1>
</br>
<p><a href="/signup">Sign Up</a> to continue.</p>
</br>
<p>Already have an account? <a href="/login">Log In</a> to continue.</p>
