<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Deleted Video Games</title>
  </head>
  <body>
    <h4>Deleted favorite video game: <%= @favoritevideogame.name%></h4>
  </body>
</html>
