<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit a Video Game</title>
  </head>
  <body>
    <h1>Name: <%=@favoritevideogame.name%></h1>
    <form class="favoritevideogame" action="/favoritevideogames/<%=@favoritevideogame.id%>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <label for="name">Edit Favorite Video Game</label>
      <input id="name" type="text" name="name" value="<%=@favoritevideogame.name%>">
      <input id="submit" type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
