<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Video Games</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to your favorite video game directory, <%= current_user.username %>!</h1>
    </br>
    <h3>Your Favorite Video Games:</h3>
    <% @favoritevideogames.each do |favoritevideogame| %>
    <% favoritevideogame_link = "/favoritevideogames/#{favoritevideogame.id}" %>
    <p><a href="<%= favoritevideogame_link %>"><%= favoritevideogame.name %></a></p>
    <% if favoritevideogame.user %>
    <p>Added by or created by: <%= favoritevideogame.user.username %></p>
    <% end %>
    <% end %>
    </br>
    <p>To post a new favorite video game to your wall, <a href="/favoritevideogames/new">click here!</a></p>
    </br>
    <p>To edit or delete a favorite video game, click on one of your favorite video games!
    </br>
    </br>
    </br>
    <p><a href="/logout">Log Out</a></p>

  </body>
</html>
