<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Favorite Video Game</title>
  </head>
  <body>
    <h1>Create Favorite Video Game</h1>
    <form class="favoritevideogame" action="/favoritevideogames" method="post">
      <label for="name">Write down a favorite video game of yours, and tell us why it is one of your favorites!</label>
      <input id="name" type="text" name="name" id="name">
      <input id="submit" type="submit" name="submit" value="Submit">
    </form>
    </br>
    <p><a href="/favoritevideogames">Back to Wall</a></p>
  </body>
</html>
